body,
html {
    margin: 0;
    font-family: "Inter", sans-serif;
}

/* Header */
header {
    min-height: 12vh;
    background-color: red;
    position: sticky;
    top: 0;
    width: 100%;
}

/* header: div -> search */
.search {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search .logo {
    flex: 1;
}

.search .logo img {
    width: 50%;
    padding: 2vw;
}

.search .form {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search .form form {
    width: 100%;
}

.search .form input {
    width: 100%;
    border-radius: 14px;
    border: none;
    padding: 3%;
    box-sizing: border-box;
}

.search .social {
    flex: 1;
    padding-right: 2%;
}

.search .social ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 0px;
}

.search .social ul li {
    padding: 0 10px;
}

/* header: div -> nav */
.nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0px;
    margin: 5px;
}

.nav ul li a {
    color: white;
    font-weight: 500;
    text-decoration: none;
    font-size: 16px;
}

.nav ul li a:hover {
    text-decoration: underline;
}

/* Fin del Header */

/* Main */
main {
    height: auto;
    margin: 2% 0;
}

.product-images-block-general,
.product-description-block,
.product-checkout-block {
    flex: 1;
    margin: 10px 10px;
}

/* Columna de Miniaturas */
.product-images-block {
    max-width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.product-images-block .thumbnail-container {
    grid-column: 1;
    margin: 3px;
}

.product-images-block .thumbnail-container img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center center;
}

.product-images-block .main-image {
    width: 100%;
    grid-row: 1/5;
    grid-column: 2/3;
    border-radius: 10px;
}

/* Fin de Columna de Miniaturas */

/* Columna de descripción */
.product-description-block .selector fieldset {
    border: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
}

.product-description-block .selector fieldset select {
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}

.product-description-block .description p {
    color: #646464;
    font-weight: lighter;
    word-wrap: break-word;
}

/* Fin de Columna de descripción */

/* Columna de Checkout */
.checkout-container {
    background-color: #ebebeb;
    padding: 15px 33px;
    border-radius: 20px;
}

.checkout-total-label {
    color: red;
    font-size: 20px;
    font-weight: 700;
}

.checkout-total-price {
    font-size: 28px;
    font-weight: 700;
    margin-top: 10px;
}

.checkout-description {
    line-height: 20.4px;
    word-wrap: break-word;
}

.checkout-policy-list {
    list-style-type: none;
    margin-bottom: 30px;
}

.checkout-policy-list li {
    display: flex;
    margin: 15px 0;
}

.checkout-policy-list li .policy-icon {
    margin-right: 15px;
}

.checkout-process .top {
    display: flex;
    margin-bottom: 10px;
}

.checkout-process .top input {
    height: 40px;
    color: black;
    font-weight: bold;
    background-color: white;
    border-radius: 10px;
    border: none;
    width: 62px;
    margin-right: 10px;
    text-align: center;
    cursor: pointer;
}

.btn-primary {
    width: 100%;
    border: 1px solid red;
    color: white;
    background-color: red;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 10px;
}

.btn-outline {
    width: 100%;
    border: 1px solid red;
    color: red;
    font-weight: bold;
    height: 40px;
    border-radius: 10px;
}

.columns-container .week-deals{
    font-size: 2rem;
    font-weight: bold;
    padding: 20px 0px;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px 30px;
}

.product-card {
    background-color: #f0f0f0;
    border-radius: 14px;
    width: auto;
    overflow: hidden;
    margin: 8%;
}


.product-card a{
    text-decoration: none;
}

.product-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center center;
}

.product-info {
    padding: 4%;
}

.product-title {
    word-wrap: break-word;
    display: block;
    margin-bottom: 5px;
    color: initial;
}

.product-description {
    font-size: 0.9rem;
    font-weight: normal;
    color: #666;
}

.product-price-block {
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
}

.product-price-block .price {
    font-size: 18px;
    font-weight: 700;
    color: rebeccapurple;
}

.product-price-block .discount {
    font-size: 12px;
    font-weight: 700;
    color: green;
}

.product-tax-policy {
    font-size: 0.7rem;
    font-weight: lighter;
    color: #999;
}

/* Columna de Checkout */
/* Fin del Main */

/* Footer */
footer {
    min-height: 170px;
    background-color: red;
}

footer .container {
    display: flex;
    flex-direction: column;
}

.columns-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.columns-container .col {
    flex: 1;
}

.columns-container .col ul {
    list-style-type: none;
}

.columns-container .col ul li {
    padding: 3px 0;
}

.columns-container .col ul li.col-main-item {
    font-weight: bold;
    padding-bottom: 20px;
}

.columns-container .col ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.copyright {
    border-top: 1px solid white;
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    padding-top: 2px;
}

/* Fin del Footer */

/* Vistas por Tamaño de Pantalla */
@media(min-width: 2200px){
    header {
        min-height: 22vh;
    }
    .search .logo img {
        width: 35%;
    }
}

@media(max-width: 2200px){
    header {
        min-height: 20vh;
    }
}

@media(max-width: 1800px){
    header {
        min-height: 17vh;
    }
}

@media(max-width: 1400px){
    header {
        min-height: 16vh;
    }
}
@media(max-width: 1024px){
    header {
        min-height: 12vh;
    }
    .search .emp a {
        font-size: 1.5em;
    }
}

@media(max-width: 900px) {
    .product-images-block-general,
    .product-description-block,
    .product-checkout-block {
        flex: 40%;
        margin: 10px 10px;
    }
}

@media(max-width: 650px) {
    .search .emp a {
        font-size: 1em;
    }

    .product-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 7px 30px;
    }
}

@media(max-width: 435px) {
    header {
        min-height: 14vh;
    }

    .product-images-block-general,
    .product-description-block,
    .product-checkout-block {
        flex: 70%;
        margin: 10px 10px;
    }

    .product-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 7px 30px;
    }
}

@media(max-width: 275px) {
    header {
        min-height: 16vh;
    }
}